{% extends "rest_framework/base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to the OctoFit Tracker API</h1>
    <p>Use the following endpoints to interact with the API:</p>
    <ul>
        <li><a href="/api/users/">Users</a></li>
        <li><a href="/api/teams/">Teams</a></li>
        <li><a href="/api/activities/">Activities</a></li>
        <li><a href="/api/leaderboard/">Leaderboard</a></li>
        <li><a href="/api/workouts/">Workouts</a></li>
    </ul>
</div>
{% endblock %}
